# Python
venv/
__pycache__/
*.pyc

# Models
models/
*.bin
*.pt
*.safetensors

# OS
.DS_Store
Thumbs.db

# Logs
*.log
sandbox/uploads/*.gguf
sandbox/uploads/*.bin

*.yar

# Node
node_modules/
Frontend/node_modules/
